<%= tinymce_assets %>
<%= tinymce %>
<%= form_for([:administration, @brand]) do |f| %>
  <%= render :partial => 'administration/shared/errors', :locals => {:object => @brand} %>
  <table>
    <tr>
      <td><%= f.label 'Название' %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label 'Ссылка' %></td>
      <td><%= f.text_field :alias %></td>
    </tr>
    <tr>
      <td><%= f.label 'Метаописание' %></td>
      <td><%= f.text_field :meta_d %></td>
    </tr>
    <tr>
      <td><%= f.label 'Ключевые слова' %></td>
      <td><%= f.text_field :meta_k %></td>
    </tr>
    <tr>
      <td><%= f.label 'Активность' %></td>
      <td><%= f.check_box :active %></td>
    </tr>
    <tr>
      <td><%= f.label 'Изображение' %></td>
      <td><%= f.file_field :avatar %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= @brand.avatar.file && @brand.avatar.file.exists? ? image_tag(@brand.avatar.mini) : '' %>
      </td>
    </tr>
    <tr>
      <td><%= f.label 'Описание' %></td>
      <td><%= f.text_area :description, :class => 'tinymce' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
