<%= form_for(@administration_brand) do |f| %>
  <% if @administration_brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@administration_brand.errors.count, "error") %> prohibited this administration_brand from being saved:</h2>

      <ul>
      <% @administration_brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :meta_d %><br />
    <%= f.text_field :meta_d %>
  </div>
  <div class="field">
    <%= f.label :meta_k %><br />
    <%= f.text_field :meta_k %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :trash %><br />
    <%= f.check_box :trash %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
