%ul
  %li= link_to 'Администрирование', '/administration'
  %li= link_to 'Товары', :controller => 'administration/products', :action => 'index'
  %li= link_to 'Акции', :controller => 'administration/actions', :action => 'index'
  %li= link_to 'Преимущества', :controller => 'administration/advantages', :action => 'index'
  %li= link_to 'Пользователи', :controller => 'administration/users', :action => 'index'