%ul
  %li= link_to 'Администрирование', '/administration'
  %li= link_to 'Товары', :controller => 'administration/products', :action => 'index'
  %li= link_to 'Бренды', :controller => 'administration/brands', :action => 'index'
  %li= link_to 'Акции', :controller => 'administration/actions', :action => 'index'
  %li= link_to 'Новости', :controller => 'administration/news', :action => 'index'
  %li= link_to 'Преимущества', :controller => 'administration/advantages', :action => 'index'
  %li= link_to 'Пользователи', :controller => 'administration/users', :action => 'index'
  %li= link_to 'Заказы', :controller => 'administration/orders', :action => 'index'
  %li= link_to 'Скидки', :controller => 'administration/discounts', :action => 'index'
  %li= link_to 'Поверхности', :controller => 'administration/surfaces', :action => 'index'