<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @administration_product.name %>
</p>

<p>
  <b>Meta d:</b>
  <%= @administration_product.meta_d %>
</p>

<p>
  <b>Meta k:</b>
  <%= @administration_product.meta_k %>
</p>

<p>
  <b>Priceldecimal:</b>
  <%= @administration_product.price %>
</p>

<p>
  <b>Garranty:</b>
  <%= @administration_product.garranty %>
</p>

<p>
  <b>Duration:</b>
  <%= @administration_product.duration %>
</p>

<p>
  <b>Delivery:</b>
  <%= @administration_product.delivery %>
</p>

<p>
  <b>Notice:</b>
  <%= @administration_product.notice %>
</p>

<p>
  <b>Description:</b>
  <%= @administration_product.description %>
</p>


<%= link_to 'Edit', edit_administration_product_path(@administration_product) %> |
<%= link_to 'Back', administration_products_path %>
