<h1><%= @category.name %></h1>
<hr>
<% if @category.categories.length > 0 %>
	<ul>
		<% @category.categories.each do |c| %>
			<li><%= link_to c.name, c.alias %></li>
		<% end %>
	</ul>
<% end %>
<ul id="products_list">
	<% if @products.empty? %>
		Для данной категории товаров нет
	<% end %>
	<% @products.each do |p| %>
		<li>
			<%= link_to image_tag(p.product_images.empty? ? '/images/no_image.png' : p.product_images.main.first.name_url(:mini), :height => '150'), :controller => :product, :action => :show, :cat_ref => Category.where(:alias => params[:cat_ref]).first.alias, :prod_ref => (!p.alias.empty? ? p.alias : p.id.to_s) %>
			<div class="clear"></div>
			<%= link_to p.name, :controller => :product, :action => :show, :cat_ref => Category.where(:alias => params[:cat_ref]).first.alias, :prod_ref => (!p.alias.empty? ? p.alias : p.id.to_s) %>
		</li>
	<% end %>
</ul>

<%= paginate @products %>
