<div id="rightPartContent">
	<% if defined? current_category %>
		<h3><%= current_category.name %></h3>
		<%= link_to "Добавить товар", :controller => :products, :action => 'new', :cat_id => current_category.id %>
		<br />
		<%if current_category.categories.length > 0%>
			<ul>
				<% current_category.categories.each do |c| %>
					<li>
						<%= link_to c.name, [:administration, c] %>
						<%= link_to image_tag('edit.png', :size => '20x20'), edit_administration_category_path(c) %>
						<%= link_to image_tag('del.png', :size => '20x20'), administration_category_path(c), :confirm => 'Вы уверены?', :method => 'delete' %>
					</li>
				<% end %>
			</ul>
		<% end %>
		<% if current_category.products.length > 0 %>
			<h4>Продукты категории "<%= current_category.name %>"</h4>
			<ul id="right_part_category_view">
				<% current_category.products.each do |p| %>
					<li><%= link_to p.name, edit_administration_product_path(p) %></li>
				<% end %>
			</ul>
		<% else %>
			<br />
			Дла данной категории товары не заданы
		<% end %>
	<% else %>
		<% if defined? categories %>
		<ul id="right_part_category_view">
			<% categories.each do |c| %>
				<li>
					<%= link_to c.name, [:administration, c] %>
					<%= link_to image_tag('edit.png', :size => '20x20'), edit_administration_category_path(c) %>
					<%= link_to image_tag('del.png', :size => '20x20'), administration_category_path(c), :confirm => 'Вы уверены?', :method => 'delete' %>
				</li>
			<% end %>
		</ul>
		<% end %>
	<% end %>
</div>
