<%= tinymce_assets %>
<%= tinymce %>
<%= form_for [:administration,  @administration_category] do |f| %>
  <%= render :partial => 'shared/errors', :locals => {:object => @administration_category }%>

  <div class="field">
    <%= f.label 'Название' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Название объекта' %><br />
    <%= f.text_field :single_name %>
  </div>
  <div class="field">
    <%= f.label 'Ссылка' %><br />
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label 'Метаописание' %><br />
    <%= f.text_field :meta_d %>
  </div>
  <div class="field">
    <%= f.label 'Ключевые слова' %><br />
    <%= f.text_field :meta_k %>
  </div>
  <div class="field">
    <%= f.label 'Родитель' %><br />
    <%= select_tag('category[parent_id]', options_for_select([['', '0']] + Category.where('active=1').where('trash=0').where('parent_id=0').where((@administration_category.id ? 'id!='+@administration_category.id.to_s : '')).collect{|c| [c.name, c.id]}, @administration_category.parent_id)) %>
  </div>
  <div class="field">
    <%= f.label 'Описание' %><br />
    <%= f.text_area :description, :class=>"tinymce", :rows => 20, :cols => 70 %>
  </div>
  <div class="actions">
    <%= f.submit "Создать"%>
  </div> 
<% end %>

